<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/headerstyles.css}">
	
    <meta name="viewport" content="width=device-width, initial-scale=1">

 	<link th:rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css} "/>
</head>
<body>

<header>
	<div class = "headTab">
		<img th:src="@{images/logo.png}">
	</div>
	<a href = "http://htmlbook.ru/blog/svoi-shrift-na-stranitse">
	<div class = "headTab">	
			Главная
	</div>
	</a>
	<a href = "http://htmlbook.ru/blog/svoi-shrift-na-stranitse">
	<div class = "headTab">	
			Практика
		</div>
	</a>
	<a href = "http://htmlbook.ru/blog/svoi-shrift-na-stranitse">
	<div class = "headTab">	
			Рейтинг кодеров
		</div>
	</a>

	<div class="dropdown headTab profile">
	  <button class=" btn btn-secondary dropdown-toggle profileHeader" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
	    Dropdown button
	  </button>
	  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
		    <li><a class="dropdown-item active" href="#">Action</a></li>
		    <li><a class="dropdown-item" href="#">Another action</a></li>
		    <li><a class="dropdown-item" href="#">Something else here</a></li>
		    <li><hr class="dropdown-divider"></li>
		    <li><a class="dropdown-item" href="#">Separated link</a></li>
		  </ul>
		</div>

	<div class = "headTab " id="profile_pic">
		<img th:src="@{images/profile_pic.png}">
	</div>
</header>



<script th:src="@{/assets/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>