<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" th:href="@{../css/headerstyles.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/logstyle.css}"> 
	<link rel="stylesheet" type="text/css" th:href="@{../css/taskstyle.css}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
 	

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<header th:replace ="base::head (path='../')"></header>

 <div class ="framelog taskframe">
	<strong> <p class="frameTitle" th:text="${task.getTitle}">    </p></strong>
	<p th:text="${task.getDescription()}"><p>
	<p><strong>Input:</strong> </p>
	<p th:text="${task.getInput()}"><p>
	<p><strong>Output:</strong> </p>
	<p th:text="${task.getOutput()}"><p>
	<div class="alert alert-success" role="alert" th:if="${success}">
	  <h4 class="alert-heading">Получилось!!</h4>
	  <p>Приступай к следующему заданию!</p>
	  <hr>
	  <a class="mb-0" th:href="@{/tasks/{id}(id=${nextTask.getId()})}">Перейти дальше</a> 
	</div>
	<div class="alert alert-danger" role="alert" th:if="${fail}">
		Неправильно!
	</div>
	<p th:if="out"><strong>Вывод:</strong> </p>
	<p th:text="${out}"> </p>
	<form th:action="@{/tasks/{id}(id=${task.getId()})}" method="post">
		<div class="mb-3">
		  	<textarea rows="45" cols="45" name="program" id="taskArea">
class HelloWorld {
	public static void main(String[] args) {
		System.out.println("Hello World!");
	}
}
		  	</textarea>
		  </div>
		<button type="submit" class="btn btn-primary" value="Принять">Принять</button>
	</form>
	
</div>


</body>
</html>